{% extends "base.html" %}
{% block head %}
    <title>Home page</title>
    <div style="background-color:#E6EFFF">
    <nav class="navbar navbar-expand ">
      <img src="{{url_for('static', filename='logo.png')}}">
      <a style="font-family: 'Liberation Mono';color:#282A36;" class="navbar-brand" href="#"><strong style="font-size: 1.4em">S</strong>erver<br><strong style="font-size: 1.4em">P</strong>erformance<br><strong style="font-size: 1.4em">M</strong>anager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div  class="collapse navbar-collapse" id="navbarsExample02">
        <ul style="margin-left: 50%" class="navbar-nav mr-auto">
          <li  class="nav-item active">
            <a style="color:#282A36;border-bottom: solid 1px #191C33;margin-right: 15px;padding-bottom: 9px" class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
          </li>
          <li  class="nav-item">
            <a style="color:#282A36;border-bottom: solid 1px #191C33;margin-right: 15px;padding-bottom: 9px" class="nav-link" href="#">Information</a>
          </li>
          <li class="nav-item">
            <a style="color:#282A36;border-bottom: solid 1px #191C33;margin-right: 15px;padding-bottom: 9px" class="nav-link" href="/logout">Log Out</a>
          </li>
          <li>
              <a  style="color: #09196F" class="nav-link" href="#"><strong>{{ username }}</strong></a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
{% endblock %}
{% block body %}
<div style="width: 80% ;margin:auto">
  <div  style="margin-left: 0.8%;margin-top: 3.8%;" class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div style="display: flex;flex-direction: column;" class="col-lg-4">
        <img class="rounded-circle" src="{{url_for('static', filename='server.png')}}" alt="Generic placeholder image" width="240" height="140">
        <div style="display: flex;flex-direction: column;margin-left: 20%">
          <h2>Server 1</h2>
          <p><strong style="color: #232459"> IP  :</strong> 192.168.1.101<br><strong style="color: #232459">Operating System :</strong> Kali GNU/Linux Rolling<br><strong style="color: #232459">Kernel :</strong> Linux 5.4.0-kali4-amd64</p>
          <div style="display: flex">
            <a style="margin-right: 4%" class="btn btn-primary" href="/home/" role="button">Supervise</a>
            <a class="btn btn-secondary" href="#" role="button">Manage</a>
          </div>
        </div>
        </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{{url_for('static', filename='server.png')}}" alt="Generic placeholder image" width="240" height="140">
        <div style="display: flex;flex-direction: column;margin-left: 20%">
          <h2>Server 1</h2>
          <p><strong style="color: #232459"> IP  :</strong> 192.168.1.102<br><strong style="color: #232459">Operating System :</strong> Kali GNU/Linux Rolling<br><strong style="color: #232459">Kernel :</strong> Linux 5.4.0-kali4-amd64</p>
          <div style="display: flex">
            <a style="margin-right: 4%" class="btn btn-primary" href="#" role="button">Supervise</a>
            <a class="btn btn-secondary" href="#" role="button">Manage</a>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{{url_for('static', filename='server.png')}}" alt="Generic placeholder image" width="240" height="140">
        <div style="display: flex;flex-direction: column;margin-left: 20%">
          <h2>Server 1</h2>
          <p><strong style="color: #232459"> IP  :</strong> 192.168.1.103<br><strong style="color: #232459">Operating System :</strong> Kali GNU/Linux Rolling<br><strong style="color: #232459">Kernel :</strong> Linux 5.4.0-kali4-amd64</p>
          <div style="display: flex">
            <a style="margin-right: 4%" class="btn btn-primary" href="#" role="button">Supervise</a>
            <a class="btn btn-secondary" href="#" role="button">Manage</a>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
{% endblock %}
